# Virtual Environment
venv/
.env

# Python Cache
__pycache__/
*.py[cod]

# Flask
instance/

# SQLite Database
*.db
*.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db